In [1]:
import sys
import os

source_path = 'C:/Users/User/Desktop/Dyslexia project/Source'

if source_path not in sys.path:
    sys.path.append(source_path)
import data_manipulation as dm 
import data_visualization as dv
import model_test
import data_processing as dp
import genetic_algorithm

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import pandas as pd

In [3]:
data = dm.read_data('handwriting_data_dysgraphic_typical_children.xlsx')
data

,participant,group,class,age,gender,laterality,BHK_raw_speed_score,BHK_raw_quality_score,median_Freq_speed,dist_Freq_speed,in_Air,Space_Between_Words,std_Density,median_Freq_tremolo,mean_d_P,std_d_P,mean_Pressure,dist_Freq_tilt_x,bandwidth_tilt_x,median_Freq_tilt_y
0,S0995,dys,CM1,9y4,m,l,207.000000,25.500000,0.001744,0.000218,0.621097,1617.671646,360.244714,0.003316,0.130777,3.562989,592.221130,0.000498,0.004491,0.003318
1,S0996,dys,CE2,9ans 3,m,r,63.000000,35.000000,0.001564,0.000126,0.587173,1714.428471,303.268265,0.003233,0.039345,1.495864,375.740844,0.000910,0.004954,0.003324
2,S0997,dys,CE1,8ans2,m,r,74.000000,31.333333,0.002356,0.001056,0.610327,423.105339,267.878028,0.003295,-0.007538,0.562388,127.736338,0.000242,0.003083,0.003333
3,S1000,dys,CE1,8ans4,f,r,52.500000,31.000000,0.001599,0.000136,0.604755,2371.746011,205.989012,0.003344,0.030485,1.560180,427.952813,0.000604,0.005016,0.003273
4,S1001,dys,CE2,8ans6,f,r,86.333333,22.666667,0.002250,0.000899,0.770747,926.590647,230.280797,0.003338,0.025525,1.788618,319.640759,0.000704,0.004022,0.003388
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,S1376,dys,CE1,7ans,m,r,105.500000,34.500000,0.001715,0.000263,0.385017,1033.910155,308.338614,0.003361,0.004184,1.371368,332.983967,0.000721,0.004639,0.003367
276,S1379,dys,CM1,10ans7,m,r,201.000000,28.500000,0.002029,0.000527,0.591674,699.553191,104.431172,0.003380,0.024090,1.821784,301.977176,0.000357,0.003769,0.003295
277,S1383,dys,CM2,10ans7,m,r,158.500000,25.000000,0.002119,0.000781,0.578211,668.460279,262.934937,0.003352,0.023631,1.149694,221.949038,0.000452,0.004270,0.003277
278,S1384,dys,CM1,10ans3,m,r,94.500000,25.000000,0.002154,0.000747,0.400375,75.451084,320.034516,0.003328,-0.005571,0.808330,185.984346,0.000195,0.003236,0.003336
279,S1391,dys,CE2,8ans11,m,r,73.000000,38.500000,0.001729,0.000256,0.624108,994.645853,262.311260,0.003127,0.138003,2.552717,795.323956,0.000765,0.004163,0.003373

In [4]:
data.dtypes

participant               object
group                     object
class                     object
age                       object
gender                    object
laterality                object
BHK_raw_speed_score      float64
BHK_raw_quality_score    float64
median_Freq_speed        float64
dist_Freq_speed          float64
in_Air                   float64
Space_Between_Words      float64
std_Density              float64
median_Freq_tremolo      float64
mean_d_P                 float64
std_d_P                  float64
mean_Pressure            float64
dist_Freq_tilt_x         float64
bandwidth_tilt_x         float64
median_Freq_tilt_y       float64
dtype: object

In [5]:
data['Dysgraphia'] = data['group'].apply(lambda x: 'Yes' if x == 'dys' else 'No')
data['Dysgraphia'].value_counts()

No     218
Yes     62
Name: Dysgraphia, dtype: int64

In [6]:
data['Dysgraphia'].value_counts()

No     218
Yes     62
Name: Dysgraphia, dtype: int64

In [7]:
data.drop(['group'], axis = 1, inplace = True)

In [8]:
data.age.unique()

array(['9y4', '9ans 3', '8ans2', '8ans4', '8ans6', '8ans8', '8ans7',
       '9ans3', '8ans0', '9ans1', '10ans2', '7ans0', '9ans11', '8ans10',
       '7ans1', '9ans6', '7ans8', '9ans0', '10ans5', '11ans1', '10ans7',
       '8ans5', '9ans4', '6ans2', '6ans8', '6ans10', '6ans5', '6ans12',
       '6ans6', '6ans9', '6ans3', '6ans7', '6ans11', '6ans4', '7ans2',
       '7ans4', '7ans9', '7ans11', '7ans3', '7ans6', '7ans12', '7ans7',
       '7ans5', '8ans1', '8ans11', '8ans3', '8ans9', '9ans8', '9ans7',
       '10ans0', '10ans1', '9ans9', '11ans0', '9ans5', '9ans10', '9ans2',
       '10ans6', '10ans10', '10ans9', '11ans2', '10ans11', '10ans3',
       '11ans5', '10ans4', '10ans12', '10ans8', '11ans7', '10ans',
       '11ans8', '7ans10', '7ans'], dtype=object)

In [9]:
data['age'] = data['age'].apply(lambda x: x.split(' ')[0] + x.split(' ')[1] if len(x.split(' ')) != 1 else x)

In [10]:
data['age'] = data['age'].apply(lambda x: x.replace('y', 'ans') if 'y' in x else x)
data.age.unique()

array(['9ans4', '9ans3', '8ans2', '8ans4', '8ans6', '8ans8', '8ans7',
       '8ans0', '9ans1', '10ans2', '7ans0', '9ans11', '8ans10', '7ans1',
       '9ans6', '7ans8', '9ans0', '10ans5', '11ans1', '10ans7', '8ans5',
       '6ans2', '6ans8', '6ans10', '6ans5', '6ans12', '6ans6', '6ans9',
       '6ans3', '6ans7', '6ans11', '6ans4', '7ans2', '7ans4', '7ans9',
       '7ans11', '7ans3', '7ans6', '7ans12', '7ans7', '7ans5', '8ans1',
       '8ans11', '8ans3', '8ans9', '9ans8', '9ans7', '10ans0', '10ans1',
       '9ans9', '11ans0', '9ans5', '9ans10', '9ans2', '10ans6', '10ans10',
       '10ans9', '11ans2', '10ans11', '10ans3', '11ans5', '10ans4',
       '10ans12', '10ans8', '11ans7', '10ans', '11ans8', '7ans10', '7ans'],
      dtype=object)

In [11]:
def split(x):
    ans, mois = int(x.split('ans')[0]), x.split('ans')[1]
    age = ans + 1 if mois != '' and int(mois) >= 6 else ans
    return age

In [12]:
data['Age'] = data['age'].apply(split)
data[['Age', 'age']]

     Age     age
0      9   9ans4
1      9   9ans3
2      8   8ans2
3      8   8ans4
4      9   8ans6
..   ...     ...
275    7    7ans
276   11  10ans7
277   11  10ans7
278   10  10ans3
279    9  8ans11

[280 rows x 2 columns]

In [13]:
data.drop(['age'], axis = 1, inplace = True)

In [14]:
data.gender.unique()

array(['m', 'f'], dtype=object)

In [15]:
data['class'].unique()

array(['CM1', 'CE2', 'CE1', 'CM2', 'CP'], dtype=object)

In [16]:
data.laterality.unique()

array(['l', 'r'], dtype=object)

In [17]:
len(data.participant.unique()) == len(data)

True

In [18]:
dm.save_data(data, 'Cleaned_data')