In [1]:
import sys
import os

source_path = 'C:/Users/User/Desktop/Dyslexia project/Source'

if source_path not in sys.path:
    sys.path.append(source_path)
import data_manipulation as dm 
import data_visualization as dv
import model_test
import data_processing as dp
import genetic_algorithm

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import pandas as pd

In [3]:
data = dm.read_data('handwriting_data_dysgraphic_typical_children.xlsx')
data

,participant,group,class,age,gender,laterality,BHK_raw_speed_score,BHK_raw_quality_score,median_Freq_speed,dist_Freq_speed,in_Air,Space_Between_Words,std_Density,median_Freq_tremolo,mean_d_P,std_d_P,mean_Pressure,dist_Freq_tilt_x,bandwidth_tilt_x,median_Freq_tilt_y
0,S0995,dys,CM1,9y4,m,l,207,"25,5","0,001743898","0,000217634","0,621097114","1617,671646","360,2447136","0,003316475","0,130776861","3,56298884","592,2211302","0,000497896","0,004491034","0,003318045"
1,S0996,dys,CE2,9ans 3,m,r,63,35,"0,001563775","0,000126143","0,587172903","1714,428471","303,2682655","0,003233171","0,039345447","1,495864246","375,7408438","0,000910379","0,004954301","0,003324443"
2,S0997,dys,CE1,8ans2,m,r,74,"31,33333333","0,002356118","0,001056358","0,610327271","423,1053385","267,8780282","0,003295012","-0,007537695","0,562388444","127,7363383","0,000242456","0,003083099","0,003333255"
3,S1000,dys,CE1,8ans4,f,r,"52,5",31,"0,001599108","0,000135934","0,604755336","2371,746011","205,9890118","0,003343925","0,03048482","1,560180218","427,9528131","0,000604263","0,005015555","0,003273184"
4,S1001,dys,CE2,8ans6,f,r,"86,33333333","22,66666667","0,002250335","0,000898507","0,770746645","926,5906466","230,2807972","0,00333764","0,02552515","1,788617777","319,6407589","0,000703894","0,004022059","0,003388429"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,S1376,dys,CE1,7ans,m,r,"105,5","34,5","0,001715326","0,000263135","0,385017002","1033,910155","308,3386136","0,003361093","0,00418353","1,371367931","332,9839673","0,000720683","0,004638955","0,003367427"
276,S1379,dys,CM1,10ans7,m,r,201,"28,5","0,002029432","0,000527203","0,591674037","699,5531911","104,4311722","0,003379979","0,024090365","1,821783692","301,977176","0,000356605","0,003769469","0,003295354"
277,S1383,dys,CM2,10ans7,m,r,"158,5",25,"0,002119158","0,000781043","0,578210532","668,4602788","262,9349368","0,003351953","0,023631349","1,149694198","221,9490378","0,00045212","0,004270136","0,00327692"
278,S1384,dys,CM1,10ans3,m,r,"94,5",25,"0,002154172","0,000747338","0,400374995","75,45108439","320,0345162","0,003328094","-0,005571288","0,808330474","185,9843459","0,000194834","0,003236485","0,003335778"
279,S1391,dys,CE2,8ans11,m,r,73,"38,5","0,001729263","0,00025599","0,624108259","994,6458534","262,3112596","0,003127213","0,13800328","2,552716878","795,3239557","0,000764602","0,004163481","0,003373176"

In [4]:
data['Dysgraphia'] = data['group'].apply(lambda x: 'Yes' if x == 'dys' else 'No')
data['Dysgraphia']

0      Yes
1      Yes
2      Yes
3      Yes
4      Yes
      ...
275    Yes
276    Yes
277    Yes
278    Yes
279    Yes
Name: Dysgraphia, Length: 280, dtype: object

In [5]:
data['Dysgraphia'].value_counts()

No     218
Yes     62
Name: Dysgraphia, dtype: int64

In [6]:
data.drop(['group'], axis = 1, inplace = True)

In [7]:
data.age.unique()

array(['9y4', '9ans 3', '8ans2', '8ans4', '8ans6', '8ans8', '8ans7',
       '9ans3', '8ans0', '9ans1', '10ans2', '7ans0', '9ans11', '8ans10',
       '7ans1', '9ans6', '7ans8', '9ans0', '10ans5', '11ans1', '10ans7',
       '8ans5', '9ans4', '6ans2', '6ans8', '6ans10', '6ans5', '6ans12',
       '6ans6', '6ans9', '6ans3', '6ans7', '6ans11', '6ans4', '7ans2',
       '7ans4', '7ans9', '7ans11', '7ans3', '7ans6', '7ans12', '7ans7',
       '7ans5', '8ans1', '8ans11', '8ans3', '8ans9', '9ans8', '9ans7',
       '10ans0', '10ans1', '9ans9', '11ans0', '9ans5', '9ans10', '9ans2',
       '10ans6', '10ans10', '10ans9', '11ans2', '10ans11', '10ans3',
       '11ans5', '10ans4', '10ans12', '10ans8', '11ans7', '10ans',
       '11ans8', '7ans10', '7ans'], dtype=object)

In [8]:
data['age'] = data['age'].apply(lambda x: x.split(' ')[0] + x.split(' ')[1] if len(x.split(' ')) != 1 else x)

In [9]:
data.age.unique()

array(['9y4', '9ans3', '8ans2', '8ans4', '8ans6', '8ans8', '8ans7',
       '8ans0', '9ans1', '10ans2', '7ans0', '9ans11', '8ans10', '7ans1',
       '9ans6', '7ans8', '9ans0', '10ans5', '11ans1', '10ans7', '8ans5',
       '9ans4', '6ans2', '6ans8', '6ans10', '6ans5', '6ans12', '6ans6',
       '6ans9', '6ans3', '6ans7', '6ans11', '6ans4', '7ans2', '7ans4',
       '7ans9', '7ans11', '7ans3', '7ans6', '7ans12', '7ans7', '7ans5',
       '8ans1', '8ans11', '8ans3', '8ans9', '9ans8', '9ans7', '10ans0',
       '10ans1', '9ans9', '11ans0', '9ans5', '9ans10', '9ans2', '10ans6',
       '10ans10', '10ans9', '11ans2', '10ans11', '10ans3', '11ans5',
       '10ans4', '10ans12', '10ans8', '11ans7', '10ans', '11ans8',
       '7ans10', '7ans'], dtype=object)

In [10]:
data['age'] = data['age'].apply(lambda x: x.replace('y', 'ans') if 'y' in x else x)
data.age.unique()

array(['9ans4', '9ans3', '8ans2', '8ans4', '8ans6', '8ans8', '8ans7',
       '8ans0', '9ans1', '10ans2', '7ans0', '9ans11', '8ans10', '7ans1',
       '9ans6', '7ans8', '9ans0', '10ans5', '11ans1', '10ans7', '8ans5',
       '6ans2', '6ans8', '6ans10', '6ans5', '6ans12', '6ans6', '6ans9',
       '6ans3', '6ans7', '6ans11', '6ans4', '7ans2', '7ans4', '7ans9',
       '7ans11', '7ans3', '7ans6', '7ans12', '7ans7', '7ans5', '8ans1',
       '8ans11', '8ans3', '8ans9', '9ans8', '9ans7', '10ans0', '10ans1',
       '9ans9', '11ans0', '9ans5', '9ans10', '9ans2', '10ans6', '10ans10',
       '10ans9', '11ans2', '10ans11', '10ans3', '11ans5', '10ans4',
       '10ans12', '10ans8', '11ans7', '10ans', '11ans8', '7ans10', '7ans'],
      dtype=object)

In [11]:
def split(x):
    ans, mois = int(x.split('ans')[0]), x.split('ans')[1]
    age = ans + 1 if mois != '' and int(mois) >= 6 else ans
    return age

In [12]:
data['Age'] = data['age'].apply(split)
data[['Age', 'age']]

     Age     age
0      9   9ans4
1      9   9ans3
2      8   8ans2
3      8   8ans4
4      9   8ans6
..   ...     ...
275    7    7ans
276   11  10ans7
277   11  10ans7
278   10  10ans3
279    9  8ans11

[280 rows x 2 columns]

In [13]:
data.drop(['age'], axis = 1, inplace = True)

In [14]:
data.gender.unique()

array(['m', 'f'], dtype=object)

In [15]:
data['class'].unique()

array(['CM1', 'CE2', 'CE1', 'CM2', 'CP'], dtype=object)

In [16]:
data.laterality.unique()

array(['l', 'r'], dtype=object)

In [17]:
len(data.participant.unique()) == len(data)

True

In [18]:
dm.save_data(data, 'Cleaned_data')